.for_img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  
  display:flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  
  background: red;
}

.for_img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#amtext{
    font-size: 10px;
}

#amCon{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#amt{
    font-weight: 900px;
}

#transact{
    display: flex;
    justify-content: space-around;
}

canvas{
    max-width: 300px;
    max-height: 150px;
}

.CHART{
    display: flex;
    align-items: center;
    justify-content: center;
}

#buy{
    width: 100px;
    height: 100px;
    background: black;
    display: flex;
    align-self: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#see{
    width: 100px;
    height:100px;
    background: darkblue;
    display: flex;
    align-self: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#for{
    width: 100px;
    height: 100px;
    background: orange;
    display: flex;
    align-self: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}


#trans{
    display: flex;
    gap: 15px;
    
}